<h1>Restaurant Listing</h1>
<div *ngIf="alertMsg" class="alert alert-dark alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Data deleted on server.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collection">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.email}}</td>
            <td><i (click)="deleteResto(item.id)" class="fa fa-trash" style="font-size:20px;color:red;"></i>&nbsp;
                <a routerLink="/update/{{item.id}}"><i class="fa fa-edit" style="font-size:20px;color:blueviolet;"></i></a>
            </td>
        </tr>
    </tbody>
</table>